.marqueeContainer {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marqueeContent {
  display: inline-block;
  animation: marquee 20s linear infinite;
  transform: translateX(-100%);
  font-size: 30px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
